<section class="about">
    <div class="wrap">
        <!-- heder section -->
        <div class="section-header">
            <p class="section-head">What we do</p>
            <h2 class="section-title">Story about us</h2>
            <div class="line -aboutline"></div>
            <p class="section-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <!-- about content -->
        <div class="about-content">
            <div class="about-item">
                <a href="#"><img class="about-img" src="img/about-us/about-mac.jpg" alt="mac"></a>
                <div class="img-descr">
                    <span class="entypo-users"></span>
                    <span class="img-title">super team</span>
                </div>
            </div>
            <div class="about-item">
                <a href="#"><img class="about-img" src="img/about-us/about-aple.jpg" alt="aple"></a>
                <div class="img-descr">
                    <span class="entypo-users"></span>
                    <span class="img-title">super team</span>
                </div>
            </div>
            <div class="about-item">
                <a href="#"><img class="about-img" src="img/about-us/about-flower.jpg" alt="flower"></a>
                <div class="img-descr">
                    <span class="entypo-users"></span>
                    <span class="img-title">super team</span>
                </div>
            </div>
        </div>
    </div>
    <div class="about-counter">
        <div class="wrap">
            <ul class="counter-list">
                <li class="item">
                    <div class="counter-num">42</div>
                    <div class="counter-text">Web Design Projects</div>
                </li>
                <li class="item">
                    <div class="counter-num">123</div>
                    <div class="counter-text">happy client</div>
                </li>
                <li class="item">
                    <div class="counter-num">15</div>
                    <div class="counter-text">award winner</div>
                </li>
                <li class="item">
                    <div class="counter-num">99</div>
                    <div class="counter-text">cup of coffee</div>
                </li>
                <li class="item">
                    <div class="counter-num">24</div>
                    <div class="counter-text">members</div>
                </li>
            </ul>
        </div>
    </div>
</section>