<section class="brands">
    <div class="wrap">
        <ul class="brands-list">
            <li><a href="" class="brends-link"><img src="img/brands/logos-1.png" class="brands-logo -one"></img></a></li>
            <li><a href="" class="brends-link"><img src="img/brands/logos-2.png" class="brands-logo -two"></img></a></li>
            <li><a href="" class="brends-link"><img src="img/brands/logos-3.png" class="brands-logo -thre"></img></a></li>
            <li><a href="" class="brends-link"><img src="img/brands/logos-4.png" class="brands-logo -for"></img></a></li>
            <li><a href="" class="brends-link"><img src="img/brands/logos-5.png" class="brands-logo -five"></img></a></li>
            <li><a href="" class="brends-link"><img src="img/brands/logos-6.png" class="brands-logo -six"></img></a></li>
        </ul>
    </div>
</section>