<section class="devices">
    <div class="wrap">
        <!-- heder section -->
        <div class="section-header">
            <p class="section-head">For all devices</p>
            <h2 class="section-title">Unique design</h2>
            <div class="line -aboutline"></div>
        </div>
        <div class="devices-wrap">
            <img class="devices-tablet" src="img/devices/tablet.png">
            <img class="devices-phone" src="img/devices/phone.png">
        </div>
    </div>
</section>