<footer class="main-footer">
    <div class="wrap">
        <div class="footer-top">
            <div class="footer-col contacts">
                <div class="logo -footerlogo">MoGo</div>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <div class="followers"><span>15k</span> followers</div>
                <div class="pub-block">
                    <span class="pub-block-title">Follow Us:</span>
                    <ul class="pub-list">
                        <li class="item"><a href="#" class="pub-link entypo-facebook"></a></li>
                        <li class="item"><a href="#" class="pub-link entypo-twitter"></a></li>
                        <li class="item"><a href="#" class="pub-link entypo-instagrem"></a></li>
                        <li class="item"><a href="#" class="pub-link entypo-pinterest"></a></li>
                        <li class="item"><a href="#" class="pub-link entypo-gplus"></a></li>
                        <li class="item"><a href="#" class="pub-link entypo-video"></a></li>
                        <li class="item"><a href="#" class="pub-link entypo-dribbble"></a></li>
                        <li class="item"><a href="#" class="pub-link entypo-tumblr"></a></li>
                    </ul>
                </div>
                <form action="mail-form">
                    <div class="form-wrap">
                        <input class="mail-input" type="email">
                        <span class="mail-placeholder">Your Email...</span>
                        <button class="mail-submit">Subscribe</button>
                    </div>
                </form>
            </div>
            <div class="footer-col blogs">
                <div class="footer-title">Blogs</div>
                <ul class="blogs-list">
                    <li class="item">
                        <div class="blogs-img-wrap">
                            <img src="img/blog-gallery/blog-photo-1.jpg" alt="">
                        </div>
                        <div class="blog-gallery-descr">
                            <a href="#" class="f-descr-link">Lorem ipsum dolor sit amet,
                                consectetur adipiscing</a>
                            <div class="date">Jan 9, 2016</div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="blogs-img-wrap">
                            <img src="img/blog-gallery/blog-photo-2.jpg" alt="">
                        </div>
                        <div class="blog-gallery-descr">
                            <a href="#" class="f-descr-link">Consectetur adipiscing elit,
                                sed do eiusmod tempor</a>
                            <div class="date">Jan 9, 2016</div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="blogs-img-wrap">
                            <img src="img/blog-gallery/blog-photo-3.jpg" alt="">
                        </div>
                        <div class="blog-gallery-descr">
                            <a href="#" class="f-descr-link">sed do eiusmod tempor
                                incididunt ut labore</a>
                            <div class="date">Jan 9, 2016</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer-col instagram">
                <div class="footer-title">instagram</div>
                <div class="gallery">
                    <ul class="instagram-grid">
                        <li class="item">
                            <a class="instagram-link" href="#">
                                <img src="img/instagram/inst-photo-1.jpg" alt="" class="gallery-img">
                            </a>
                        </li>
                        <li class="item">
                            <a class="instagram-link" href="#">
                                <img src="img/instagram/inst-photo-2.jpg" alt="" class="gallery-img">
                            </a>
                        </li>
                        <li class="item">
                            <a class="instagram-link" href="#">
                                <img src="img/instagram/inst-photo-3.jpg" alt="" class="gallery-img">
                            </a>
                        </li>
                        <li class="item">
                            <a class="instagram-link" href="#">
                                <img src="img/instagram/inst-photo-4.jpg" alt="" class="gallery-img">
                            </a>
                        </li>
                        <li class="item">
                            <a class="instagram-link" href="#">
                                <img src="img/instagram/inst-photo-5.jpg" alt="" class="gallery-img">
                            </a>
                        </li>
                        <li class="item">
                            <a class="instagram-link" href="#">
                                <img src="img/instagram/inst-photo-6.jpg" alt="" class="gallery-img">
                            </a>
                        </li>
                        <li class="item">
                            <a class="instagram-link" href="#">
                                <img src="img/instagram/inst-photo-7.jpg" alt="" class="gallery-img">
                            </a>
                        </li>
                        <li class="item">
                            <a class="instagram-link" href="#">
                                <img src="img/instagram/inst-photo-8.jpg" alt="" class="gallery-img">
                            </a>
                        </li>
                        <li class="item">
                            <a class="instagram-link" href="#">
                                <img src="img/instagram/inst-photo-9.jpg" alt="" class="gallery-img">
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="#" class="view-more">View more photos</a>
            </div>
        </div>
        <div class="footer-bottom">
            &copy;2016 MoGo free PSD template by <a href="#">Laaqiq</a>
        </div>
    </div>
</footer>