<header class="head-header">
    <div class="wrap">
        <nav class="top-nav">
            <!--logo-->
            <div class="logo">
                <a href="#">MoGo</a>
            </div>
            <!--navigation-->
            <ul class="nav-list">
                <li><a href="#">about</a></li>
                <li><a href="#">services</a></li>
                <li><a href="#">work</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">contact</a></li>
                <li><span class="entypo-basket nav-icon -cart"></span></li>
                <li><span class="entypo-search nav-icon -search"></span></li>
            </ul>
        </nav>
    </div>
</header>
<!--hero content-->
<div class="hero-section">
    <div class="hero-content">
        <p class="hero-head">Creative Template</p>
        <p class="hero-descr">Welcome to MoGo</p>
        <div class="line -heroline"></div>
        <button class="btn hero-btn">Learn more</button>
    </div>
</div>
