<section class="services">
    <div class="wrap">
        <!-- heder section -->
        <div class="section-header">
            <p class="section-head">We work with</p>
            <h2 class="section-title">Amazing Services</h2>
            <div class="line -aboutline"></div>
        </div>
        <!--services gallery-->
        <!-- top -->
        <div class="services-top">
            <ul>
                <li>
                    <div class="services-logo -topfirst"></div>
                    <div class="services-descr">
                        <p class="title">Photography</p>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </li><li>
                    <div class="services-logo -topsecond"></div>
                    <div class="services-descr">
                        <p class="title">Web Design</p>
                        <p class="text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </li><li>
                    <div class="services-logo -topthree"></div>
                    <div class="services-descr">
                        <p class="title">Creativity</p>
                        <p class="text">Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- bottom -->
        <div class="services-bottom">
            <ul>
                <li>
                    <div class="services-logo -bottomfirst"></div>
                    <div class="services-descr">
                        <p class="title">Seo</p>
                        <p class="text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </li><li>
                    <div class="services-logo -bottomsecond"></div>
                    <div class="services-descr">
                        <p class="title">Css/Html</p>
                        <p class="text">Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.</p>
                    </div>
                </li><li>
                    <div class="services-logo -bottomthree"></div>
                    <div class="services-descr">
                        <p class="title">Digital</p>
                        <p class="text">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>