<section class="blog">
    <div class="wrap">
        <!-- heder section -->
        <div class="section-header">
            <p class="section-head">Our stories</p>
            <h2 class="section-title">Latest blog</h2>
            <div class="line -aboutline"></div>
        </div>
        <div class="blog-content">
            <ul class="blog-list">
                <li>
                    <div class="blog-img" href="#">
                        <img src="img/blog/woman.jpg" alt="">
                        <div class="date">
                            <span class="day">15</span><br>
                            <span class="month">Jan</span>
                        </div>
                    </div>
                    <div class="blog-descr">
                        <a class="stories-link" href="#">
                            <span class="blog-img-link"></span>
                            <span class="title">Lorem ipsum dolor sit amet</span>
                        </a>
                        <p class="text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <span class="view">542</span>
                        <a href="#" class="coments">17</a>
                    </div>
                </li>
                <li>
                    <div class="blog-img" href="#">
                        <img src="img/blog/noutboock.jpg" alt="">
                        <div class="date">
                            <span class="day">14</span><br>
                            <span class="month">Jan</span>
                        </div>
                    </div>
                    <div class="blog-descr">
                        <a class="stories-link" href="#">
                            <span class="blog-img-link"></span>
                            <span class="title">Sed do eiusmod tempor</span>
                        </a>
                        <p class="text">Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <span class="view">992</span>
                        <a href="#" class="coments">42</a>
                    </div>
                </li>
                <li>
                    <div class="blog-img" href="#">
                        <img src="img/blog/man.jpg" alt="">
                        <div class="date">
                            <span class="day">12</span><br>
                            <span class="month">Jan</span>
                        </div>
                    </div>
                    <div class="blog-descr">
                        <a class="stories-link" href="#">
                            <span class="blog-img-link"></span>
                            <span class="title">Incididunt ut labore et dolore</span>
                        </a>
                        <p class="text">Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <span class="view">1560</span>
                        <a href="#" class="coments">98</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>