<section class="testimonials">
    <div class="wrap">
        <div class="testimonials-shifter">
            <span class="entypo-left-open-big shifter-arrow -left"></span>
            <span class="entypo-right-open-big shifter-arrow -right"></span>
            <div class="slider-wrap">
                <ul class="testimonials-list">
                    <li class="testimonials-item">
                        <div class="entypo-chat icon"></div>
                        <div class="testimonials-descr">
                            <div class="text">
                                “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                            </div>
                            <span class="line -testimonials"></span>
                            <span class="name">Jon Doe -1</span>
                        </div>
                    </li>
                    <li class="testimonials-item">
                        <div class="entypo-chat icon"></div>
                        <div class="testimonials-descr">
                            <div class="text">
                                “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                            </div>
                            <span class="line -testimonials"></span>
                            <span class="name">Jon Doe-2</span>
                        </div>
                    </li>
                    <li class="testimonials-item">
                        <div class="entypo-chat icon"></div>
                        <div class="testimonials-descr">
                            <div class="text">
                                “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                            </div>
                            <span class="line -testimonials"></span>
                            <span class="name">Jon Doe-3</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>