<section class="our-time">
    <div class="wrap">
        <!-- heder section -->
        <div class="section-header">
            <p class="section-head">Who we are</p>
            <h2 class="section-title">Meet our team</h2>
            <div class="line -aboutline"></div>
            <p class="section-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <!-- content -->
        <div class="our-time-content">
            <ul class="time-content-list">
                <li class="item">
                    <div class="time-content">
                        <img src="img/our-time/matthew-dix.jpg" alt="Matthew Dix">
                        <div class="time-social">
                            <ul class="time-social-list">
                                <li class="item"><a href="#" class="time-link entypo-facebook"></a></li>
                                <li class="item"><a href="#" class="time-link entypo-twitter"></a></li>
                                <li class="item"><a href="#" class="time-link entypo-pinterest"></a></li>
                                <li class="item"><a href="#" class="time-link entypo-instagrem"></a></li>
                            </ul>
                        </div>
                    </div>
                    <span class="name">Matthew Dix</span><br>
                    <span class="job">Graphic Design</span>
                </li>
                <li class="item">
                    <div class="time-content">
                        <img src="img/our-time/christopher-campbell.jpg" alt="Christopher Campbell">
                        <div class="time-social">
                            <ul class="time-social-list">
                                <li class="item"><a href="#" class="time-link entypo-facebook"></a></li>
                                <li class="item"><a href="#" class="time-link entypo-twitter"></a></li>
                                <li class="item"><a href="#" class="time-link entypo-pinterest"></a></li>
                                <li class="item"><a href="#" class="time-link entypo-instagrem"></a></li>
                            </ul>
                        </div>
                    </div>
                    <span class="name">Christopher Campbell</span><br>
                    <span class="job">Branding/UX design</span>
                </li>
                <li class="item">
                    <div class="time-content">
                        <img src="img/our-time/michael-fertig.jpg" alt="Michael Fertig">
                        <div class="time-social">
                            <ul class="time-social-list">
                                <li class="item"><a href="#" class="time-link entypo-facebook"></a></li>
                                <li class="item"><a href="#" class="time-link entypo-twitter"></a></li>
                                <li class="item"><a href="#" class="time-link entypo-pinterest"></a></li>
                                <li class="item"><a href="#" class="time-link entypo-instagrem"></a></li>
                            </ul>
                        </div>
                    </div>
                    <span class="name">Michael Fertig</span><br>
                    <span class="job">Developer</span>
                </li>
            </ul>
        </div>
    </div>
</section>