.brands {
  background: #f8f8f8;
  padding: 60px 0;
}

.brands-list {
  list-style: none;
  padding: 0 10px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//.brands-logo {
//
//  display: block;
//  background-size: 122px auto;
//  background-position: center center;
//  background-repeat: no-repeat;
//
//  &.-one {
//    background: url("../../img/brands/logos-1.png");
//  }
//
//  &.-two {
//    background: url("../../img/brands/logos-2.png");
//  }
//
//  &.-thre {
//    background: url("../../img/brands/logos-3.png");
//  }
//
//  &.-for {
//    background: url("../../img/brands/logos-4.png");
//  }
//
//  &.-five {
//    background: url("../../img/brands/logos-5.png");
//  }
//
//  &.-six {
//    background: url("../../img/brands/logos-6.png");
//  }
//}