// FONTS
$decorFont: 'Kaushan Script', cursive;  // Основной шрифт
$headFont: 'Montserrat', sans-serif;  // Дополнительный акцентный шрифт №1
$baseFont: 'Roboto', sans-serif;  // Дополнительный шрифт №2


// COLOR
$red: #f38181;
$yelow: #fce38a;
$lightGreen: #eaffd0;
$green: #95e1d3;

$textColorHead: #333;
$textColorContent: #999;
